<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	select <select>
		selectList
		selectOne
	insert <insert>
		insert
	update <update>
		update
	delete <delete>
		delete
	
	? ==> #{}
		parameterType="데이터형"
 -->
<mapper namespace="com.sist.mapper.food-mapper">
	<!-- 맛집 카테고리 읽기 -->
	<select id="foodCategoryData" resultType="FoodCategoryVO">
		<!-- 
				List<FoodCategoryVO> ==> selectList
				FoodCategoryVO		 ==> selectOne
		 -->
		 SELECT cno, title, subject, poster
		 FROM food_category
	</select>
	
	<!-- 카테고리별 맛집출력 -->
	<select id="foodListData" resultType="FoodVO" parameterType="int">
		SELECT fno, poster, name, tel, type, address, score
		FROM food_house
		WHERE cno = #{cno}
	</select>
	<select id="foodCategoryInfoData" resultType="FoodCategoryVO" parameterType="int">
		SELECT title, subject
		FROM food_category
		WHERE cno = #{cno}
	</select>
	
	<!-- 상세보기 -->
	<select id="foodDetailData" resultType="FoodVO" parameterType="int">
		SELECT * FROM food_house WHERE fno = #{fno}
	</select>
	
	<!-- 지역별 맛집 찾기 -->
	<select id="foodLocationFindData" resultType="FoodVO" parameterType="hashmap">
		SELECT fno, name, score, poster, type, address, num
		FROM (SELECT fno, name, score, poster, type, address, rownum as num
		FROM (SELECT fno, name, score, poster, type, address 
		FROM food_location WHERE address LIKE '%'||#{address}||'%' ORDER BY fno ASC))
		WHERE num BETWEEN #{start} AND #{end}
	</select>
	<select id="foodLocationFindTotalPage" resultType="int" parameterType="String">
		SELECT CEIL(COUNT(*)/12.0) FROM food_location
		WHERE address LIKE '%'||#{address}||'%'
	</select>
	
	<!-- 찜하기 -->
	<insert id="foodJjimInsert" parameterType="JjimVO">
		<selectKey keyProperty="no" resultType="int" order="BEFORE">
			SELECT NVL(MAX(no)+1, 1) as no FROM jjim
		</selectKey>
		INSERT INTO jjim VALUES(#{no}, #{id}, #{fno})
	</insert>
	<!-- 찜 여부 확인 -->
	<select id="foodJjimCount" resultType="int" parameterType="JjimVO">
		SELECT COUNT(*) FROM jjim
		WHERE fno=#{fno} AND id=#{id}
	</select>
	
	<!-- 찜 출력(마이페이지) : forEach -->
	<select id="foodJjimListData" resultType="FoodVO" parameterType="int">
		SELECT * FROM food_house
		WHERE fno=#{fno}
	</select>
	<select id="foodJjimGetFno" resultType="int" parameterType="String">
		SELECT fno FROM jjim
		WHERE id=#{id}
	</select>
	
	<!-- 찜 취소 -->
	<delete id="foodJjimDelete" parameterType="JjimVO">
		DELETE FROM jjim
		WHERE id=#{id} AND fno=#{fno}
	</delete>
	
	<!-- 맛집 상세보기에 관련 요리 레시피 5개 추천  -->
	<!-- select count(*) from recipe where REGEXP_LIKE(title, '닭|오리'); -->
	<!-- 
		REGEXP_LIKE(컬럼명, 'regex')
		정규식
		[] => 범위 [A-Z] A, B, C, ... , Z
					[1-5] 1, 2, 3, 4, 5
					[가-다] 가, 나, 다
		{} => 갯수
				[A-Z]{1,3} => A AA AAA
				[0-9]{1,3}.[0-9]{1,3}.[0-9]{1,3}.[0-9]{1,3} => IP
		
			^[A-Z] 알파벳 시작
			[^A-Z] 알파벳 제외
			[A-Z]$ 알파벳으로 종료
			[A-Z]+ 알파벳 1개 이상
			[A-Z]* 알파벳 0개 이상
			[0-9], [가-힣]
	 -->
	<select id="foodRecipeMakeData" resultType="RecipeVO" parameterType="String">
		SELECT no, title, poster, chef, rownum
		FROM recipe
		WHERE REGEXP_LIKE(title, #{type})
		AND rownum&lt;=5
	</select>
</mapper>
