<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.Recipe-mapper">
	<!-- PreparedStatement : SQL(?)  ,   ResultSet -->
	<!-- 
		<select id = boardListData" resultType="BoardVO" parameterType="hashmap">
			SELECT * FROM board WHERE no BETWEEN #{start} AND #{end}"
		</select>
		public List<BoardVO> boardListData(int page){
			try{
				getConnection();
				String sql = "SELECT * FROM board
						+ "WHERE no BETWEEN ? AND ?";
				ps = conn.preparedStatement(sql);
				ps.setInt(1, 1);
				ps.setInt(2, 10);
				ResultSet rs = ps.executeQuery();
				while(rs.next()){
					BoardVO vo = new BoardVO();
					vo.setXxx();
					vo.setXxx();
					list.add(vo);
				}
				rs.close;
			} catch(Exception e){
				e.printStackTrace();
			} finally{
				disConnection();
			}
		}
	 -->
	 <select id="recipeListData" resultType="com.sist.vo.RecipeVO" parameterType="hashmap">
	 	SELECT no, title, poster, chef, num
	 	FROM (SELECT no, title, poster, chef, rownum as num 
	 	FROM (SELECT no, title, poster, chef 
	 	FROM recipe ORDER BY no ASC))
	 	WHERE num BETWEEN #{start} AND #{end}
	 </select>
</mapper>